<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="" />
		<add key="DataBase" value="" />
		<add key="UserId" value="" />
		<add key="Password" value="" />
		<add key="ConnectionString" value="Server=WARMACHINE\SQL2022EX;Database=VetSysControl;User Id=sa;Password=122;" />
	</appSettings>
</configuration>